extends layout

block body
    nav(class='main-nav',ng-hide='hideNav')
        ul
            li(class='txt-center')
                //img#avatar(class='avatar',width='60',height='60',ng-src='{{avatar}}',ng-init='avatar="img/avatar.png"')
            li
                a(href='/me')='Hi,'+user.username

            li
                a(href='/datas') 数据源

            //li
              a(href='/docs') 文档

            li
                a(href='/tools') 工具
                
            li
                a(href='/miao') 神庙数据

            li
                a(href='/todos') Todo

            li
                a(href='/issues') Issue

            li
                a(href='/features') 需求

            li
                a(href='/members') 成员

            li
                a(href='/settings') 设置

            li
                a(href='/deploy') 部署历史


    div(class='content',ng-view)
    //script(src=static+'/js/sea.js')
    script(src=static+'/js/lib/socket.io.min.js')
    script(src=static+'/js/angular.1.2.7.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js')
    script(src=static+'/js/hightchart/highcharts.js')
    script(src=static+'/js/angular-route.1.2.5.min.js')
    script(src=static+'/js/vendors/ui-utils.min.js')
    script(src=static+'/js/app.js')
    script(src='js/controller.min.js')
    script(src=static+'/js/angular-file-upload.js')
    script(src=static+'/js/lib.js')
    script(src=static+'/js/option.js')


